@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Playfair+Display:ital@0;1&display=swap");
* {
  padding: 0;
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-x: hidden;
}
@media screen and (max-width: 992px) {
  html, body {
    font-size: 17px;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, p {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 44vw;
  margin: 0 auto;
  background-color: #161926;
}
@media screen and (max-width: 992px) {
  .container {
    padding: 0 30px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    padding: 0 25px;
  }
}

.container-main {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 7vw;
  padding-top: 48vh;
}
@media screen and (max-width: 1200px) {
  .container-main {
    padding: 0 5vw;
  }
}
@media screen and (max-width: 992px) {
  .container-main {
    padding: 0 3vw;
  }
}
@media screen and (max-width: 768px) {
  .container-main {
    padding: 0 1vw;
  }
}

.main {
  background-color: #161926;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.4vw;
}

.header {
  position: relative;
}
.header__banner {
  background: url(../assets/img/first-screen-image.png) no-repeat;
  background-size: cover;
  padding-top: 6vh;
  margin: 0 auto;
  min-height: 114vh;
}
.header .container {
  max-width: none;
  padding: 0 7vw;
  background-color: rgba(255, 255, 255, 0.3607843137);
  background-position: center;
  backdrop-filter: blur(5px);
}
.header .d-flex {
  max-width: 1170px;
  margin: 0 auto;
  padding: 24px 0;
}
.header .logo {
  flex-grow: 1;
}
.header .menu {
  display: flex;
  gap: 2.1vw;
}
@media screen and (max-width: 820px) {
  .header .menu {
    position: absolute;
    left: 183px;
    top: 98px;
    width: 45vw;
    flex-direction: column;
    z-index: 2;
    background: #161926;
    gap: 0;
    padding: 0;
    box-shadow: 1px 5px 11px 4px #233034;
    visibility: hidden;
    overflow-x: hidden;
  }
}
.header .menu__item {
  position: relative;
}
.header .menu__item::after {
  content: "";
  position: absolute;
  bottom: -7px;
  left: -5px;
  width: 0;
  height: 2px;
  background: linear-gradient(45deg, #F1897B, rgba(126, 123, 123, 0.5882352941));
  transition: all 0.25s linear;
}
.header .menu__item:hover::after {
  width: 100%;
  left: 0;
}
@media screen and (max-width: 820px) {
  .header .menu__item {
    text-align: center;
    padding: 10px 0;
    border: 1px solid #b5bcc0;
  }
}
.header .menu__link {
  font-size: 0.78rem;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: 0.1em;
}
.header .burger {
  display: none;
}
@media screen and (max-width: 820px) {
  .header .burger:checked ~ .menu {
    visibility: visible;
  }
}
.header .burger-img {
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 820px) {
  .header .burger-img {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 2px;
    background: #fff;
    vertical-align: middle;
  }
  .header .burger-img::before, .header .burger-img::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 2px;
    background: #fff;
    top: 10px;
  }
  .header .burger-img::after {
    top: -10px;
  }
}

#nav-burger:checked ~ .burger-img {
  transform: rotate(45deg);
}

#nav-burger:checked ~ .burger-img::before {
  top: 0px;
  transform: rotate(0);
}

#nav-burger:checked ~ .burger-img::after {
  top: 0px;
  transform: rotate(90deg);
}

#nav-burger:checked ~ .menu {
  visibility: visible;
  left: 150px;
}

.text {
  line-height: 1.44;
  font-weight: 300;
  color: #fff;
}
@media screen and (max-width: 992px) {
  .text {
    font-size: 0.88rem;
    line-height: 1.2;
  }
}
@media screen and (max-width: 768px) {
  .text {
    font-size: 0.8rem;
    line-height: 1;
  }
}

.title {
  font-size: 2.22rem;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 30px;
  font-family: "Playfair Display", sans-serif;
}
@media screen and (max-width: 992px) {
  .title {
    font-size: 1.88rem;
    line-height: 1.2;
  }
}
@media screen and (max-width: 768px) {
  .title {
    font-size: 1.68rem;
    line-height: 1;
  }
}

.colortext {
  color: #689FF2;
  font-family: "Playfair Display", sans-serif;
  font-style: italic;
}
.colortext_grey {
  color: #e5e5e5;
  font-size: 2.22rem;
  line-height: 1.25;
}

.btn {
  border: none;
  color: #53F3CD;
  font-weight: 700;
  font-size: 1.11rem;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  background: transparent;
}
.btn_border {
  border: 1px solid #515773;
  padding: 33px 80px 33px 80px;
}
.btn_border:hover {
  border: 1px solid #02E0AB;
}
.btn__text {
  position: relative;
}
.btn__text::before {
  content: "";
  position: absolute;
  bottom: -8%;
  left: 10%;
  width: 100%;
  height: 13px;
  background: #02E0AB;
  opacity: 0.3;
}
.btn__text:hover {
  color: #02E0AB;
}
.btn__text:hover::before {
  background-color: #02E0AB;
}

.content {
  position: absolute;
  top: 30%;
  max-width: 32vw;
  width: 100%;
}
@media screen and (max-width: 992px) {
  .content {
    max-width: 62vw;
    top: 20%;
  }
}
@media screen and (max-width: 768px) {
  .content {
    max-width: 82vw;
  }
}
.content .title {
  font-size: 2.44rem;
  font-weight: 400;
  line-height: 1.18;
  max-width: 32vw;
  font-family: "Playfair Display", sans-serif;
}
@media screen and (max-width: 992px) {
  .content .title {
    font-size: 2rem;
    line-height: 1;
    max-width: 80vw;
  }
}
@media screen and (max-width: 768px) {
  .content .title {
    font-size: 1.6rem;
  }
}
.content .text {
  margin-bottom: 7vh;
}

.statistic {
  position: absolute;
  top: 70%;
}
@media screen and (max-width: 992px) {
  .statistic {
    top: 45%;
  }
}
.statistic .d-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 4vw;
  padding-top: 24px;
  padding-bottom: 24px;
  background: rgba(22, 25, 38, 0.8392156863);
  position: relative;
  left: -240px;
  width: 100%;
  max-width: 853px;
  padding: 30px;
}
@media screen and (max-width: 1200px) {
  .statistic .d-flex {
    left: -40%;
    min-width: 700px;
  }
}
@media screen and (max-width: 992px) {
  .statistic .d-flex {
    left: -71%;
    min-width: 650px;
  }
}
@media screen and (max-width: 768px) {
  .statistic .d-flex {
    left: -80%;
    min-width: 400px;
    flex-wrap: wrap;
    margin: 0;
    justify-content: center;
    gap: 2vw;
  }
}
@media screen and (max-width: 532px) {
  .statistic .d-flex {
    left: -99%;
  }
}
.statistic__img {
  max-width: 570px;
  width: 100%;
}
.statistic .col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
}
.statistic .col .title {
  font-size: 3.77rem;
  line-height: 1.05;
  font-weight: 400;
  font-family: "Playfair Display", sans-serif;
  margin: 30px 0 12px 0x;
}
@media screen and (max-width: 768px) {
  .statistic .col .title {
    font-size: 2.5rem;
    padding-top: 10px;
    margin-bottom: 10px;
  }
}
.statistic .col_center {
  text-align: center;
  position: relative;
  width: 80%;
}
.statistic .col_center::before {
  content: "";
  position: absolute;
  width: 7vw;
  height: 0.1vw;
  background-color: #689FF2;
  top: 70%;
  left: 32%;
}
@media screen and (max-width: 1200px) {
  .statistic .col_center::before {
    top: 73%;
    left: 32%;
  }
}
@media screen and (max-width: 992px) {
  .statistic .col_center::before {
    top: 75%;
    left: 35%;
  }
}
@media screen and (max-width: 768px) {
  .statistic .col_center::before {
    left: 43%;
  }
}
.statistic .col_center::after {
  content: "";
  position: absolute;
  width: 7vw;
  height: 0.1vw;
  background-color: #689FF2;
  top: 35%;
  left: 32%;
}
@media screen and (max-width: 1300px) {
  .statistic .col_center::after {
    top: 28%;
    left: 32%;
  }
}
@media screen and (max-width: 1200px) {
  .statistic .col_center::after {
    top: 28%;
    left: 32%;
  }
}
@media screen and (max-width: 992px) {
  .statistic .col_center::after {
    top: 30%;
    left: 35%;
  }
}
@media screen and (max-width: 768px) {
  .statistic .col_center::after {
    left: 43%;
    top: 36%;
  }
}

.benefits__block {
  padding: 35px 26px;
  width: 100%;
  max-width: 33vw;
  border-top: 1px solid #515773;
}
.benefits.d-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2.4vw;
}
.benefits.title {
  margin-bottom: 30px;
}

.quote {
  background: url(../assets/img/quote-background.png) no-repeat;
  position: relative;
  background-size: 100%;
  min-height: 25vw;
  z-index: 1;
  margin: 120px 0;
}
.quote::before {
  content: url(../assets/img/svg/quotes.svg);
  position: absolute;
  top: 18%;
  left: 8%;
  z-index: -1;
}
.quote__title {
  font-size: 1.77rem;
  color: #fff;
  line-height: 1.44;
  font-weight: 400;
  letter-spacing: 0.04em;
  padding: 100px 0 40px 160px;
  width: 100%;
}
@media screen and (max-width: 1200px) {
  .quote__title {
    font-size: 1.5rem;
    line-height: 1.4;
    padding: 80px 0 30px 130px;
    font-weight: 300;
  }
}
@media screen and (max-width: 992px) {
  .quote__title {
    font-size: 1.2rem;
    line-height: 1;
    padding: 60px 0 20px 100px;
  }
}
@media screen and (max-width: 768px) {
  .quote__title {
    font-size: 0.8rem;
    padding: 30px 0 10px 70px;
  }
}
.quote__sub-title {
  font-size: 1.11rem;
  font-style: italic;
  font-family: "Playfair Display", sans-serif;
  color: #fff;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 0.08em;
  padding-left: 160px;
}
@media screen and (max-width: 1200px) {
  .quote__sub-title {
    font-size: 1rem;
    padding-left: 120px;
  }
}
@media screen and (max-width: 992px) {
  .quote__sub-title {
    font-size: 0.9rem;
    padding-left: 80px;
  }
}
@media screen and (max-width: 768px) {
  .quote__sub-title {
    font-size: 0.7rem;
    padding-left: 70px;
  }
}

.video {
  width: 100%;
  max-width: 60vw;
  margin: 0 auto;
  height: 100%;
}
@media screen and (max-width: 1200px) {
  .video {
    height: 80%;
  }
}
@media screen and (max-width: 992px) {
  .video {
    height: 60%;
  }
}
@media screen and (max-width: 768px) {
  .video {
    height: 50%;
  }
}
.video__block {
  border: 1px solid #515773;
  padding: 30px 70px 30px 30px;
  border-radius: 20px;
  position: relative;
  width: 100%;
  max-width: 50vw;
  margin: 0 auto;
}
.video__block::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 1px solid #515773;
  top: 292px;
  left: 10px;
}
.video__block::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid #515773;
  top: 292px;
  right: 10px;
}
.video__block_iframe {
  max-width: 860px;
  width: 100%;
}
.video__text {
  margin: 50px 0 0 90px;
  min-width: 45vw;
}
@media screen and (max-width: 768px) {
  .video__text {
    margin-left: 0;
  }
}
.video .text {
  max-width: 41vw;
}
.video .title {
  margin-bottom: 30px;
}

.promise {
  margin: 120px 0;
}
@media screen and (max-width: 768px) {
  .promise {
    margin: 80px 0;
    justify-content: space-between;
  }
}
.promise .d-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 4vw;
  background: rgba(22, 25, 38, 0.8392156863);
  position: relative;
  left: -226px;
  width: 100%;
  min-width: 800px;
  padding: 65px;
}
@media screen and (max-width: 1200px) {
  .promise .d-flex {
    left: -400px;
    min-width: 700px;
  }
}
@media screen and (max-width: 992px) {
  .promise .d-flex {
    left: -450px;
    min-width: 600px;
  }
}
@media screen and (max-width: 768px) {
  .promise .d-flex {
    left: -500px;
    gap: 0;
    flex-wrap: wrap;
    min-width: 400px;
  }
}
.promise .col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  gap: 2vw;
}
.promise .sub-title {
  font-size: 1.33rem;
  line-height: 2;
  font-weight: 400;
  font-family: "Playfair Display", sans-serif;
  margin-bottom: 15px;
}
.promise .text {
  margin-bottom: 10px;
}
.promise .block_btn {
  margin-top: 45px;
}
.promise__img {
  width: 100%;
  max-width: 600px;
}

.reviews__cards {
  margin: 50px 0 100px;
}
.reviews .col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.reviews .d-flex {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.reviews .d-flex .col:nth-child(1) {
  background: url(../assets/img/bg_1.png) no-repeat;
  width: 100%;
  max-width: 360px;
  min-height: 340px;
  background-size: 100%;
}
.reviews .d-flex .col:nth-child(2) {
  background: url(../assets/img/bg_2.png) no-repeat;
  width: 100%;
  max-width: 360px;
  min-height: 340px;
  background-size: 100%;
}
.reviews .d-flex .col:nth-child(3) {
  background: url(../assets/img/bg_3.png) no-repeat;
  width: 100%;
  max-width: 360px;
  min-height: 340px;
  background-size: 100%;
}
.reviews__card .text {
  color: #fff;
  font-size: 0.88rem;
  line-height: 1.62;
  padding: 30px;
  max-width: 100%;
}
.reviews__card .sub-title {
  color: #fff;
  font-size: 1.11rem;
  letter-spacing: 0.8;
  margin: 0;
  padding-left: 30px;
}
.reviews__card .m-b {
  margin-bottom: 26px;
}

.contact {
  border-top: 1px solid #515773;
  border-bottom: 1px solid #515773;
}
.contact #name,
.contact #email,
.contact #phone {
  width: 100%;
  font-size: 1.11rem;
  padding: 6px 0 4px 10px;
  font-family: "Playfair Display", sans-serif;
  color: #fff;
  background-color: #161926;
  letter-spacing: 0.08em;
  font-style: italic;
  opacity: 0.5;
  border-color: inherit;
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
  margin: 20px 0;
}
.contact.d-flex {
  justify-content: center;
}
@media screen and (max-width: 992px) {
  .contact.d-flex {
    flex-wrap: wrap;
    align-items: center;
  }
}
.contact .col {
  width: 100%;
  flex-wrap: wrap;
  margin-top: 40px;
}
.contact .btn {
  margin: 20px 0 100px;
}

.footer {
  background-color: #161926;
}
.footer .d-flex {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.footer__link {
  font-size: 0.77rem;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.08rem;
}
.footer__text {
  font-size: 0.77rem;
  font-weight: 300;
  line-height: 7;
}